body{
    height: 100vh;
    background-image: url('images/1906.i126.011_gift\ present\ romantic\ love\ illustration.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0;
}
 #btn{
    position: absolute;
    top: 280px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
 }